
<table class="table">
    <thead>
        <tr>
            <th>Total pesé</th>
            <th>Gamo</th>
            <th>Morarano</th>
            <th>Tamatave</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{totalPese}}</td>
            <td [ngClass]="{gamo : isGamo}">{{totalGamo}}</td>
            <td [ngClass]="{morarano : isMorarano}">{{totalMrrn}}</td>
            <td [ngClass]="{tamatave : isTamatave}">{{totalTmtv}}</td>
        </tr>
    </tbody>
</table>
<div class="container-luid">
    <div class="row mb-3">
        <span>Selectionner le depôt</span>
        <select class="form-control" [(ngModel)]="depot">
            <option value="gamo">GAMO (Tana)</option>
            <option value="morarano">Morarano</option>
            <option value="tamatave">Tamatave</option>
        </select>
    </div>
    <div class="saisie">
        <div class="form-group">
            <input type="number" class="form-control" name="" min="1" id="" [(ngModel)]="poids"
                aria-describedby="helpId" placeholder="saisissez le poids">
        </div>
        <div class="">
            <button mat-raised-button color="accent" (click)="regPoid()">OK</button>
            @if(done()){
            <button mat-raised-button color="primary" style="background-color: green;">
                <i class="fa fa-check" aria-hidden="true" style="color:  #ffff;"></i>
            </button>
            }
        </div>
    </div>
    <div class="row liste-peser">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless table-primary align-middle">
                <thead class="table-light fixed">
                    <tr>
                        <th>Nunero</th>
                        <th>Poid(kg)</th>
                        <th>Depôt</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (listPoid of listePoids; track $index) {
                    @if($index != 0){
                    <tr>
                        <td scope="row">{{listPoid.id}}</td>
                        <td>{{listPoid.poid}}</td>
                        <td>{{listPoid.depot}}</td>
                    </tr>
                    }
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>

    </div>
</div>