<hr>
<div class="navbar">
    <div class="row data">
        <div class="col-3">
            <span>TOTAL</span>
            <span style="font-weight: bold;">{{totalPese.toFixed(2)}}</span>
        </div>
        <div class="col-3" [ngClass]="{gamo: isGamo}">
            <span>Tana</span>
            <span style="font-weight: bold;">{{totalGamo.toFixed(2)}}</span>
        </div>
        <div class="col-3" [ngClass]="{morarano : isMorarano}">
            <span>Morarano</span>
            <span style="font-weight: bold;">{{totalMrrn.toFixed(2)}}</span>
        </div>
        <div class="col-3" [ngClass]="{tamatave : isTamatave}">
            <span>Tamatave</span>
            <span style="font-weight: bold;">{{totalTmtv.toFixed(2)}}</span>
        </div>
    </div>
</div>
<div class="container-luid">
    <div class="row mb-3">
        <span class="text-center">Selectionner le depôt</span>
        <select class="form-control" [(ngModel)]="depot">
            <option value="gamo">GAMO (Tana)</option>
            <option value="morarano">Morarano</option>
            <option value="tamatave">Tamatave</option>
        </select>
    </div>
    <div class="saisie">
        <div class="form-group">
            <input type="number" class="form-control" name="" min="1" id="" [(ngModel)]="poids"
                aria-describedby="helpId" placeholder="saisissez le poids">
        </div>
        <div class="">
            <button mat-raised-button color="accent" (click)="regPoid()">OK</button>
            @if(done()){
            <button mat-raised-button color="primary" style="background-color: green;">
                <i class="fa fa-check" aria-hidden="true" style="color:  #ffff;"></i>
            </button>
            }
        </div>
    </div>
    <div class="row liste-peser">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless table-primary align-middle">
                <thead class="table-light fixed">
                    <tr class="text-center">
                        <th>Nunero</th>
                        <th>Poid(kg)</th>
                        <th>Depôt</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (listPoid of listePoids; track $index) {
                    @if($index != 0){
                    <tr class="ligne">
                        <td scope="row">{{listPoid.id}}</td>
                        <td>{{listPoid.poid.toFixed(2)}}</td>
                        <td>{{listPoid.depot}}</td>
                        <td width="10px">
                            <button mat-fab color="primary" class="button-fab" (click)="update(listPoid.id)">
                                <i class="fas fa-pen-alt "></i>
                            </button>
                            <button mat-fab color="accent" class="button-fab" (click)="delete(listPoid.id)">
                                <i class="fas fa-trash    "></i>
                            </button>
                        </td>
                    </tr>
                    }
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>

    </div>
</div>