<nav class="navbar">
    <div class="row data">
        <div class="col-3">
            <span>Nafarana</span>
            <span style="font-weight: bold;">{{nafarana.toFixed(2)}}</span>
        </div>
        <div class="col-3">
            <span>Tana</span>
            <span style="font-weight: bold;">{{gamo.toFixed(2)}}</span>
        </div>
        <div class="col-3">
            <span>Morarano</span>
            <span style="font-weight: bold;">{{morarano.toFixed(2)}}</span>
        </div>
        <div class="col-3">
            <span>Tamatave</span>
            <span style="font-weight: bold;">{{tamatave.toFixed(2)}}</span>
        </div>
    </div>
</nav>
<div class="container-fluid">
    @if(!isPesageCliked){
    <div class="row button-pple">
        <button class="col-6 button" mat-raised-button color="primary" (click)="pesageCliked()">
            Pesage
        </button>
        <button class="col-6 button" mat-raised-button color="warn" disabled
        >
            Show all
        </button>
    </div>
    }
    @if(isPesageCliked){
    <app-pesage [qteNafarana]="nafarana" [qteGamo]="gamo" [qteMorarano]="morarano"
        [qteTamatave]="tamatave"></app-pesage>
    }
</div>